ENV=development
# API_HOST=127.0.0.1
# API_PORT=3000
# API_LOG=info,api=debug
# API_BACKTRACE=1
API_URL=http://localhost:3000
API_PUBLIC_URL=http://localhost:3000
# WEB_HOST=127.0.0.1
# WEB_PORT=8000
WEB_URL=http://localhost:8000
WEB_PUBLIC_URL=http://localhost:8000
AUTH0_ISSUER_BASE_URL=itskai-dev.us.auth0.com
AUTH0_SECRET=...
AUTH0_CLIENT_ID=1mKAKMATHiJyvkt0WoXiVirRAaxek0df
AUTH0_CLIENT_SECRET=...
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=home
# SENTRY_URL=https://sentry.io/
# SENTRY_ORG=
# SENTRY_PROJECT=
# SENTRY_DSN=
# SENTRY_AUTH_TOKEN=
SPOTIFY_CLIENT_ID=1b3f6ebdbb704013aa81ef516829e429
SPOTIFY_CLIENT_SECRET=...
SPOTIFY_REFRESH_TOKEN=...
OBSIDIAN_VAULT_PATH=...
